<h1 class="mainHeader">Create a post</h1>
    <div class="formContainer"><form class="createPostForm">
            <div><label>Title: <input id="title" type="text" autofocus/></label></div>
            <div><textarea rows="5" cols="40" id="content">Content</textarea></div>
            <div><textarea rows="5" cols="40" id="hashtags">Enter your hashtags, divided by a comma</textarea></div>
            <div><label>Image: <input id="imageUploaderBack" type="file"></label></div>
            <div><button id="submit" type="submit">Submit</button></div>
            <div><span id="message"></span></div>
        </form></div>

<script src="create.js"></script>